/* margin:marge extérieur, padding:marge intérieur */
    * {
        margin: 0;
        list-style: none;
    }
    body {
        padding-top: 28.5vh;
    }
/* header:haut de page, footer:bas de page  */
    header {
        position: fixed;
        top: 0vh;
        left: 0vh;
        bottom: 10vh;
        width: 100vw;
        height: 28.5vh;
        color: white;
        background-color: white;
        font-family: "Alkatra", system-ui;
    }
    header img {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 15vh;
    }
    header ul {
        position: absolute;
        margin-left: 13vw;
        margin-right: 13vw;
        top: 22vh;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }
    header li {
        padding-inline: 5vw;
        margin-inline: 2vw;
        text-align: center;
        font-size: 1.5rem;
        border-radius: 20px;
        background: #3a4e3d;
        box-shadow:  6px 6px 15px #969696,
                     -6px -6px 15px #ffffff;
    }
    header li:hover {
        cursor: pointer;
        border-radius: 20px;
        background: #4f6d53;
        box-shadow: inset 6px 6px 15px #969696,
                    inset -6px -6px 15px #ffffff;
    }
    #comment {
        padding-top: 5vh;
        height: 100vh;
        background-color: #3a4e3d;
        color: #f6e7d8;
    }
    h1 {
        text-align: center;
        font-family: "Alkatra", system-ui;
        font-size: 50px;
    }
    h2 {
        background-color: rgb(251, 173, 19);
    }
    #blocs{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;
    }
    #blocs div {
        color: white;
        border-radius: 44px;
        height: 370px;
        width: 335px;
        background: rgb(0, 57, 77);
        margin: 20px;
        text-align: center;
        box-shadow:  6px 6px 15px #969696,
        -6px -6px 15px #ffffff;
    }
    footer {
        background-color: rgb(0, 57, 77);
        color: white;
        text-align: center;
        padding: 1.2em 0em;
    }
    footer a {
/* text-decoration:relatif au soulignage */
        color: #efefef;
    }