@font-face {
    font-family: "Makisupa";
    src: url(/FONTS/MAKISUPA.TTF) format("truetype");
}
@font-face {
    font-family: "NovaMono";
    src: url(/FONTS/novamono.ttf) format("truetype");
}
* {
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none;
}
body {
    overflow-x: hidden;
    margin-top: 150px;
    background-color: #f6e7d8;
}
.barnav {
    z-index: 2;
    background-color: white;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 180px;
    font-family: "NovaMono";
}
.header div{
    width: 100px;
    padding: 20px;
}
.logo img{
    margin-left: 10px;
    margin-top: 35px;
    width: 250px;
}
.contient-slogan {
    width: 20vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slogan {
    white-space: nowrap;
    font-weight: bold;
    font-size: 3rem;
    color: #3a4e3d;
    margin-left: 10vw;
    margin-right: 10px;
}
.barnav .nav-liens ul {
    display: flex;
}
.barnav .nav-liens ul li {
    font-size: 20px;
    padding: 15px 30px;
    margin: 30px 20px;
    border-radius: 20px;
    background: #3a4e3d;
    box-shadow:  6px 6px 15px #969696,
                 -6px -6px 15px #ffffff;
}
.barnav .nav-liens li:hover {
    cursor: pointer;
    border-radius: 20px;
    background: #4f6d53;
    box-shadow: inset 6px 6px 15px #969696,
                inset -6px -6px 15px #ffffff;
}
.barnav .nav-liens ul li a {
    font-size: 2rem;
    color: white;
}
.menu img{
    display: none;
    border: 2px solid #3a4e3d;
    padding: 9px;
    border-radius: 10px;
}
p{
    font-size: 1rem;
}
h1 {
    text-align: center;
    font-family: "Alkatra", system-ui;
    font-size: 2.5rem;
    padding: 1.5rem;
}
h2 {
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
    background: white;
}
h3 {
    font-size: 1.5rem;
    margin-block: 0.8rem;
}
.partie1 {
    padding-top: 50px;
    height: 60vh;
    background-color: #3a4e3d;
    color: #f6e7d8;
}
.partie1 .etape {
    display: flex;
    align-items: center;
    justify-content: center;
}
.partie1 .etape span {
    width: 1.2vw;
    height: 8vh;
    margin: 2rem;
    background-color: rgb(251, 173, 19);
    border-radius: 0.3rem;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 48px;
    min-width: 8vw;
}
.partie1 img {
    position: absolute;
    top: 55vh;
    left: 10vw;
    height: 40vh;
    transform: rotate(10deg);
}
.partie2 {
    width: 100vw;
    height: auto;
    margin-bottom: -5px;
    background-color: #f6e7d8;
    color: #3a4e3d;
}
.partie2 img {
    margin: 10px;
    height: 150px;
}
.partie2 div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.icon {
    margin-top: 2vh;
    margin-bottom: 3vh;
}
.competences {
    display: flex;
    margin: 0;
    padding: 0;
}
.competences img {
    width: 25vw;
    height: auto;
    margin: 0;
    padding: 0;
}
.partie3 {
        width: 100vw;
        height: auto;
        background-color: #3a4e3d;
        color: #f6e7d8;
}
.logo-boutique {
    margin: 30px;
    width: 100px;
}
.partie3 li {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.partie3 .carte img {
    width: 50px;
    margin: 50px;
}
footer {
        background-color: #3a4e3d;
        color: white;
        text-align: center;
        padding: 1.2em 0em;
}
.partie4 {
    background-color: #f6e7d8;
    color: #3a4e3d;
}
.partie5 {
    height: 80vh;
    background-color: #3a4e3d;
    color: #f6e7d8;
}
.partie6 {
    background-color: #f6e7d8;
    color: #3a4e3d;
}
.partie6 p {
    justify-content: center;
    align-items: center;
}
footer a {
        color: #efefef;
}
@media screen and (max-width: 1500px) and (min-width: 900px){
    .barnav .slogan {
            display: none;
    }
    .nav-liens {
            margin-right: 2vw;
        }
    .partie1 img {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    body {
        margin-top: 150px;
    }
    .barnav {
        width: 100vw;
        height: 170px;
        display: block;
    }
    .header {
        display: flex;
        align-items: center;
        width: 100vw;
        margin: none;
        margin-left: 3vw;
    }
    .logo img{
        padding: 0;
        margin: 0;
        width: 200px;
    }
    div .menu {
        width: 100vw;
    }
    .menu img{
        margin-left: auto;
        margin-right: 10vw;
        display: flex;
        width: 40px;
    }
    .contient-slogan {
        width: 100vw;
        height: 0.5vh;
    }
    .slogan {
        position: relative;
        margin-left: 0px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        line-height: 5vh;
    }
    .nav-liens {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 15vh;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.212);
        backdrop-filter: blur(4px);
        width: 80vw;
        height: 50vh;
        margin-left: 200vw;
        border-radius: 50px 0px 0px 50px;
        transition: all 0.5s ease-in;
    }
    .nav-liens.menu-mobile {
        margin-left: 20vw;
    }
    .barnav .nav-liens ul {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .barnav .nav-liens ul li {
        padding: 1vh 2vh;
        margin: 20px 20px;
    }
    h1 {
        line-height: 50px;
    }
    p {
        margin-bottom: 30px;
    }
    .partie1 {
        padding-top: 3vh;
        height: auto;
    }
    .partie1 img {
        display: none;
    }
    .partie1 .etape {
        padding-right: 5vw;
    }
    .competences img {
        width: 50vw;
    }
    .logo-boutique {
        margin: 15px;
        width: 60px;
    }
    .partie3 .carte img {
        width: 50px;
        margin-left: 5px;
        margin-right: 20px;
    }
}